<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polymap.rhei.batik.applicationLayouters" name="Batik Application Layouters" schema="schema/applicationLayouters.exsd"/>
   <extension-point id="org.polymap.rhei.batik.panels" name="Batik Panels" schema="schema/panels.exsd"/>
   <extension
         point="org.eclipse.rap.ui.themes">
      <themeContribution
            file="batik.css"
            themeId="org.polymap.rhei.batik.theme">
      </themeContribution>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            body="resources/html/body.html"
            defaultEntrypointId="org.polymap.rhei.batik.entrypoint"
            id="org.polymap.rhei.batik.branding"
            servletName="batik"
            themeId="org.polymap.rhei.batik.theme"
            title="Batik">
         <additionalHeaders>
            <link
                  href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700"
                  rel="stylesheet"
                  type="text/css">
            </link>
         </additionalHeaders>
      </branding>
   </extension>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.polymap.rhei.batik.app.BatikApplication"
            id="org.polymap.rhei.batik.entrypoint"
            parameter="batik"
            path="/batik">
      </entrypoint>
   </extension>
   <extension
         point="org.polymap.rhei.batik.applicationLayouters">
      <applicationLayouter
            class="org.polymap.rhei.batik.internal.desktop.DesktopAppManager"
            id="org.polymap.rhei.batik.DesktopApplicationLayouter">
      </applicationLayouter>
   </extension>
   <extension
         point="org.polymap.rhei.batik.panels">
   </extension>
   <extension
         point="org.eclipse.rap.ui.serviceHandler">
      <serviceHandler
            class="org.polymap.rhei.batik.internal.LinkActionServiceHandler"
            id="org.polymap.rhei.batik.LinkActionServiceHandler">
      </serviceHandler>
      <serviceHandler
            class="org.polymap.rhei.batik.internal.BrowserSizeServiceHandler"
            id="org.polymap.rhei.batik.BrowserSizeServiceHandler">
      </serviceHandler>
   </extension>
   <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.polymap.rhei.batik.internal.LinkActionResource">
      </resource>
      <resource
            class="org.polymap.rhei.batik.internal.BrowserSizeResource">
      </resource>
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
      <statusHandler
            class="org.polymap.rhei.batik.app.PanelStatusHandler"
            id="org.polymap.rhei.batik.statusHandler">
      </statusHandler>
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
      <statusHandler
            class="org.polymap.rhei.batik.app.PanelStatusHandler"
            id="org.polymap.rhei.batik.statusHandler">
      </statusHandler>
      <statusHandlerProductBinding
            handlerId="org.polymap.rhei.batik.statusHandlerProductBinding1"
            productId="org.polymap.rhei.batik.statusHandlerProductBinding1">
      </statusHandlerProductBinding>
   </extension>

</plugin>
