<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.polymap.rhei.batik.design" name="Batik Application Design" schema="schema/design.exsd"/>
   <extension-point id="org.polymap.rhei.batik.panels" name="Batik Panels" schema="schema/panels.exsd"/>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            brandingId="org.polymap.rhei.batik.branding"
            class="org.polymap.rhei.batik.BatikApplication"
            id="org.polymap.rhei.batik.entrypoint"
            path="/batik">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themes">
      <theme
            file="resources/css/default/default-rap23.css"
            id="org.polymap.rhei.batik.theme"
            name="Batik Default">
      </theme>
      <!-- Done via SASS import -->
      <!--themeContribution
            file="resources/css/default/batik.css"
            themeId="org.polymap.rhei.batik.theme">
      </themeContribution>
      <themeContribution
            file="resources/css/default/button.css"
            themeId="org.polymap.rhei.batik.theme">
      </themeContribution>
      <themeContribution
            file="resources/css/default/text.css"
            themeId="org.polymap.rhei.batik.theme">
      </themeContribution>
      <themeContribution
            file="resources/css/default/table.css"
            themeId="org.polymap.rhei.batik.theme">
      </themeContribution-->
      <theme
            file="resources/css/md/default-rap23.css"
            id="org.polymap.rhei.batik.materialDesign"
            name="Material Design">
      </theme>
      <!-- Done via SASS import -->
      <!--themeContribution
            file="resources/css_old/md/batik.css"
            themeId="org.polymap.rhei.batik.materialDesign">
      </themeContribution>
      <themeContribution
            file="resources/css_old/md/fab.css"
            themeId="org.polymap.rhei.batik.materialDesign">
      </themeContribution>
      <themeContribution
            file="resources/css_old/md/tree.css"
            themeId="org.polymap.rhei.batik.materialDesign">
      </themeContribution>
      <themeContribution
            file="resources/css_old/md/messages.css"
            themeId="org.polymap.rhei.batik.materialDesign">
      </themeContribution>
      </themeContribution>
      <themeContribution
            file="resources/css/default/text.css"
            themeId="org.polymap.rhei.batik.materialDesign">
      </themeContribution-->
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="org.polymap.rhei.batik.branding"
            themeId="org.polymap.rhei.batik.theme"
            title="Batik">
      </branding>
   </extension>
   <extension
         point="org.polymap.rhei.batik.design">
      <design
            class="org.polymap.rhei.batik.engine.DefaultAppDesign"
            id="org.polymap.rhei.batik.DefaultAppDesign"
            servletNameMatcher="*">
      </design>
   </extension>
   <extension
         point="org.eclipse.rap.ui.serviceHandler">
      <serviceHandler
            class="org.polymap.rhei.batik.internal.LinkActionServiceHandler"
            id="org.polymap.rhei.batik.LinkActionServiceHandler">
      </serviceHandler>
   </extension>
   <extension
         point="org.eclipse.rap.ui.resources">
      <resource
            class="org.polymap.rhei.batik.internal.LinkActionResource">
      </resource>
   </extension>
   <extension
         point="org.eclipse.ui.statusHandlers">
      <statusHandler
            class="org.polymap.rhei.batik.engine.PanelStatusHandler"
            id="org.polymap.rhei.batik.statusHandler">
      </statusHandler>
   </extension>

</plugin>
