<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!--extension-point id="org.polymap.rhei.form.pageProviders" name="FormPageProviders" schema="schema/pageProviders.exsd"/>
   <extension-point id="org.polymap.rhei.form.filterProviders" name="FilterProviders" schema="schema/filterProviders.exsd"/-->
   
   <!--extension
         point="net.refractions.udig.ui.dropAction">
      <action
            class="org.polymap.rhei.navigator.layer.AddLayerToMapDropAction"
            enablesFor="+"
            name="AddLayerToMapDropAction">
         <destination
               class="org.polymap.rhei.navigator.RheiNavigator">
         </destination>
         <acceptedType
               adapt="true"
               class="net.refractions.udig.catalog.IGeoResource">
         </acceptedType>
         <destination
               class="org.polymap.core.project.IMap">
         </destination>
         <destination
               class="org.polymap.core.project.ILayer">
         </destination>
      </action>
      <action
            class="org.polymap.core.project.ui.dnd.LayerOrderDropAction"
            name="SortLayerDropAction">
         <destination
               class="org.polymap.core.project.ui.layer.MapLayersView">
         </destination>
         <acceptedType
               class="org.polymap.core.project.ILayer">
         </acceptedType>
         <destination
               class="org.polymap.core.project.ILayer">
         </destination>
      </action>
   </extension-->
   <!--extension
         point="org.polymap.core.mapeditor.mapContextMenu">
      <contribution
            class="org.polymap.rhei.form.workbench.OpenFormMapContextMenu"
            id="org.polymap.rhei.form.OpenFormContextMenu">
      </contribution>
   </extension-->

</plugin>
